<div class="w-full my-2">
    <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
        <%= notice %>
    </p>
    <% end %>
    <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">Product categories</h1>
        <%= link_to 'New product category', new_product_category_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
    <div id="product_categories" class="min-w-full bg-white p-4 my-4 rounded-lg shadow">
        <div>
            <form method="GET">
                <div class="relative text-gray-600 focus-within:text-gray-400">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </span>
                    <input type="search" name="q" class="py-2 text-sm bg-white rounded-lg pl-10" placeholder="Search..." autocomplete="off">
                </div>
            </form>
        </div>
        <div>
            <table class="table-auto w-full">
                <tr>
                    <th class="border">Title</th>
                    <th class="border">Description</th>
                    <th class="border">Total Product</th>
                </tr>
            </table>
            <%= render @product_categories %>
        </div>
    </div>
</div>